.tag-input-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 400px; /* Đặt chiều rộng cố định */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng thể */
  }
  
  .tag {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
  }
  
  .tag-remove-button {
    background: none;
    border: none;
    color: #999;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .tag-remove-button:hover {
    color: #666;
  }
  
  .tag-input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
    min-width: 150px; /* Đặt chiều rộng tối thiểu */
    max-width: 100%; /* Đảm bảo input không vượt quá chiều rộng container */
  }
  