.postSell-wrapper {
    /*background-color: aquamarine;*/
    /*margin: 0 30px;*/
    /*border-bottom: 1px solid red;*/
    width: 80%;
    display: block;
    position: relative;
    padding: 0 30px;
    margin: 0 auto;
}

.uploadWrapper {
    margin-top: 3rem;
    gap: 2rem;
    /*width: 60rem;*/
    /*height: 25rem;*/
    background-color: #ff922d;
    height: 400px;
    width: 100%;
    /*background-color: #ff922d;*/
}

.uploadZone {
    background-color: #61dafb;
    width: 25%;
    height: 12rem;
    border: 2px dashed grey;
    cursor: pointer;
}

