HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
logs/
*.yml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/lib/
/out/
/src/main/java/com/hust/baseweb/applications/education/classmanagement/data/
### VS Code ###
.vscode/
.history
/gg_api_key.txt
/.ssh/
*.bat
/or-tools_Ubuntu-18.04-64bit_v8.0.8283/
./or-tools_Ubuntu-20.04-64bit_v8.0.8283
./or-tools_Ubuntu-20.04-64bit_v8.0.8283/*
./temp_dir
./temp_dir/*
