.uploadContainer {
    /*background-color: red;*/
}

.uploadWrapper {
    margin-top: 3rem;
    gap: 2rem;
    width: 60rem;
    height: 25rem;
    /*background-color: #ff922d;*/
}

.uploadZone {
    background-color: #61dafb;
    width: 30%;
    height: 12rem;
    border: 2px dashed grey;
    cursor: pointer;
}

.uploadView {
    width: 60%;
    height: 100%;
    /*border: 5px solid black;*/
    /*background-color: #1f3e72;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 5px;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: block;
    /*padding:10px;*/
    position: relative;
    /*border: 2px solid red;*/

}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
}

.deleteImage {
    color: blue;
    position: absolute;
    right: -5px;
    /*background-color: #ff922d;*/
    /*width: 400px;*/
    z-index: 1;
    cursor: pointer;
}

/*.uploadedImage {*/
/*    width: 80%;*/
/*    height: 25rem;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    overflow: hidden;*/
/*}*/

/*.uploadedImage > img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/