@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast {
  border-radius: 8px;
}

.Toastify__toast-container--bottom-center {
  bottom: 1em;
  right: 1em;
  left: auto;
  transform: none;
}

.Toastify__toast--success {
  border-radius: 6px !important;
}

.Toastify__toast--error {
  border-radius: 6px !important;
}

.Toastify__toast--info {
  border-radius: 6px !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.slider-parent .slick-track {
  height: 100% !important;
}

.__react_component_tooltip {
  border-radius: 6px !important;
  padding: 6px 8px 0px 8px !important;
}

.__react_component_tooltip.show {
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  opacity: 1 !important;
  color: rgba(0, 0, 0, 0.87);
  margin-top: -2px !important;
}
