<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Successfully Register</title>
</head>

<body
        style="box-sizing: border-box; margin: 0; font-family: -apple-system,  Segoe UI, BlinkMacSystemFont, Roboto , Oxygen , Ubuntu , Cantarell, Fira Sans , Droid Sans , Helvetica Neue , sans-serif;">
<div style="background-color: #eeeeee;padding: 40px 0px;">
    <div style="max-width: 500px; margin:auto;">
        <div style="border-radius: 8px; padding: 32px 24px; background-color: #ffffff; font-size: 1.125rem;">
            <h2 style="text-align: center; margin: 0;">Open ERP</h2>
            <br/>
            <p style="margin: 0;">
                Xin chào <b>${name}</b>,
            </p>
            <br/>
            <p style="margin: 0;">
                Bạn đã đăng ký thành công tài khoản trên hệ thống Open ERP với tên đăng nhập
                <b>${username}</b>. Đây là email được gửi tự động, vui lòng chờ quản trị viên phê duyệt và không phản
                hồi lại
                email này.
            </p>
            <br/>
            <p style="margin: 0;">
                Xin cảm ơn,
                <br>
                Open ERP team
            </p>
        </div>
        <div style="text-align: center; margin-top: 32px;">
            <img src='cid:logo' alt='Logo' style="width: 24px; height:24px;">
            <p style="margin: 6px 0px 0px; color: rgb(0, 0, 0, 0.87)">
                Copyright © 2021 Open ERP, All rights reserved
            </p>
            <p style="color: #3f51b5; margin: 4px 0px 0px;">
                Viện Công nghệ Thông tin và Truyền thông - Đại học Bách Khoa Hà Nội
            </p>
        </div>
    </div>
</div>
</body>

</html>
