.postSellDetail-container {
    /*background-color: #ff922d;*/
    position: relative;
    display: flex;
}

.information-post-sell {
    /*background-color: aqua;*/
    width: 70%;
    margin-left: 8%;
    margin-right: 10px;
}

.information-author-post {
    position: sticky;
    height: 300px;
    /*background-color: #ff922d;*/
    top: 75px;
    right: 10px;
}