// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

.main{
    font-family: "Inter", sans-serif;
    color: white;
    width: 100%;
    background-color: #ddd;
}

.container{
    display: flex;
}

.menuContainer{
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid #384256;
    height: calc(100vh - 72px);
    background-color: #0e4a8e;
    color: #FFFFFF99;
}

.contentContainer{
    padding: 5px 20px;
    width: 100%;
}