.chatContainer {
    width: 90%;
    height: 80vh;
    background-color: rgba(17, 25, 40, 0.75);
    backdrop-filter: blur(19px) saturate(180%);
    /*border-radius: 12px;*/
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    margin: 15px auto;
}